<!DOCTYPE html>
<html>

<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

<!-- AngularJS -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<script src="libs/bootstrap-slider/bootstrap-slider.js"></script>
<script src="libs/bootstrap-slider/angular-bootstrap-slider.js"></script>
<link rel="stylesheet" href="libs/bootstrap-slider/bootstrap-slider.css">
<!--<script src="//api.bitrix24.com/api/v1/"></script>-->
<script src="app.js"></script>
<script src="mainCtrl.js"></script>

<style>
    .slider-selection {
        background: #BABABA;
    }
</style>

<body>

    <div ng-app="boostApp" ng-controller="mainCtrl" class="container">
        <form>
            <label>Header</label>
            <div ng-repeat="question in questions">
                <div class="form-group">
                    <label ng-bind="question.text"></label>
                    <select ng-options="option as option for option in question.options" ng-model="answers[$index]"
                    ng-if="question.type == questionsTypesEnum.selectOptions"></select>
                    <!--<select class="form-control" ng-if="question.type == questionsTypesEnum.selectOptions" ng-model="answers[$index]">
                <option ng-repeat="option in question.options" value="{{option}}">{{option}}</option>-->
            </select>
                </div>
                <div class="form-group">
                    <input type="text" ng-if="question.type == questionsTypesEnum.freeText" class="form-control" ng-model="answers[$index]" />
                </div>
                <div class="form-group">
                    <slider min="0" max="5" step="1" tooltip="hide" ng-if="question.type == questionsTypesEnum.range" ng-model="answers[$index]"></slider>
                </div>
                <div class="form-group" style="width: 10%">
                    <slider min="0" max="1" step="1" tooltip="hide" ng-if="question.type == questionsTypesEnum.yesNo" ng-model="answers[$index]"></slider>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="submit()">submit</button>
        </form>


    </div>



</body>

</html>